target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Env ###
.env

### Node (semantic-release) ###
node_modules/
package.json
package-lock.json
